* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif; 
  }
  
  ::-webkit-scrollbar{
    width: 3px;
    height: 5px;
    border-radius: 10px;
  }
  
  /* ::-webkit-scrollbar-track{
    background-color: #ececec;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  } */
  ::-webkit-scrollbar-thumb{
    background-color: #fffdfd;
    -webkit-border-radius: 10px;
    background-color: #470700;
  }
 
  header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1), 0px -5px 10px rgba(166, 31, 31, 0.5);
  }
div.logo-card img{
  height: 55px;
  margin-left: -2.8em;
}


  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-top: 30px;
   
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #000000; /* Adjust the color as needed */
    margin: 2px 0;
  }
  
  .input-group-text{
    background-color: rgb(92, 6, 6) !important;
    width: 60px;
    height: 40px;
    margin-left: -10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
  }
 #searchInput:focus {
 outline:2px solid rgb(122, 25, 7) !important;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.3) !important;
}
.fa-solid.fa-bell{
    margin-top: 35px;
    /* margin-left: 15em; */
}
.notification-icon {
    position: relative;
    display: inline-block;
  }

  .notification-badge {
    position: absolute;
    top: 20px;
    right: 1px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    padding: 3px 3px;
  }
  .profile-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    background-size: cover;
    /* margin-left: 180px; */
  }
  
.siderbar-section{
 height: calc(100vh - 70px);
 width: 18%; 
 position: fixed; 
  overflow-y: auto; 
 overflow-x: hidden; 
  transition: all 0.5s ease-in-out;
  margin-top: 75px;
  margin-left: -1em;
  padding: 20px;
  float: left !important;
  /* background-image: radial-gradient( circle farthest-corner at 7.2% 19%,  rgba(120,0,0,1) 0%, rgba(239,75,75,1) 100.2% ); */
}
.onclick-stand.active {
  background-color:blue;
}

.main-container{
  width: 82%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
 margin-top: 70px;
  margin-left: 19px;
  float: right !important;
}

.side-option-1{
    padding-top: 10px 40px;
    display: flex;
   flex-direction: row;
   margin-top: 20px;
   gap: 10px; 
  width: 250px;
  margin-left: -1.5em;
  transition: transform 0.3s ease-in-out;
  }
  .side-option-1:hover{
    background-color: rgba(255, 255, 255, 0.7);
  }
  /* .side-option-1:hover i{
    color: black !important;
  } */
  .side-option-1:hover h5{
    color: black !important;
  }
  h5.side-head-1{
    font-size: 16px;
    color: #0e0b0b;
    padding-top: 10px;
  }
  a{
    text-decoration: none;
  }
  ul,li{
    list-style: none;
  }
  a.settings-text{
    padding-left: 20px;
    padding-top: -13px;
  }
  div.side-dropdown{
    margin-top: 10px !important;
    padding: 10px;
    margin-left: -1em;
  }
  ul{
    padding-top: 20px;
  }
  .settings-text{
    color: black;
  }
   ul a{
    line-height: 40px;
    padding: 10px 50px;
    margin-left: -1em;
    color: black;
  }
  
  .fa.fa-caret-down.right{
   padding-left: 20px;
  }
  .box{
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% ); */
    /* background-image: radial-gradient( circle farthest-corner at 10.6% 22.1%,  rgba(206,18,18,1) 0%, rgba(122,21,21,1) 100.7% ); */
   background-color: #690c0c;
    width: 100%;
    color: white;
   height: 150px;
  align-items: center;
  padding-top: 20px;
  padding-left: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    transition: transform 0.3s ease-in-out; 
  }
  .box:hover{
    transform: scale(1.10);
  }
  #eye{
    float: right; 
    padding-top: -50px !important;
    padding-right: 20px;
    padding-bottom: 150px;
    position: relative;
    top: -50px;
  }
  .fa-square-poll-vertical {
    float: right;
    padding-top: -50px !important;
    padding-right: 20px;
    padding-bottom: 150px;
    position: relative;
    top: -50px;
  }

  .report-container { 
    margin: 70px auto 0px auto; 
    background-color: #ffffff; 
    border-radius: 30px; 
    box-shadow: 3px 3px 10px rgb(188, 188, 188); 
    padding: 0px 20px 20px 20px; 
    } 
    .report-header { 
    height: 80px; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 20px 20px 10px 20px; 
    border-bottom: 2px solid rgba(0, 0, 0, 0.59); 
    } 
    
    .recent-Articles { 
    font-size: 30px; 
    font-weight: 600; 
    color: #690c0c; 
    } 
    
    .view { 
    height: 35px; 
    width: 90px; 
    border-radius: 8px; 
    background-color: #520b0b; 
    color: white; 
    font-size: 15px; 
    border: none; 
    cursor: pointer; 
    } 
    
    .report-body { 
    max-width: 1160px; 
    overflow-x: auto; 
    overflow-y: auto;
    padding: 20px; 
    } 
    .report-topic-heading, 
    .item1 { 
    width: 1120px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    } 
    .t-op { 
    font-size: 18px; 
    letter-spacing: 0px; 
    } 
    
    .items { 
    width: 1120px; 
    margin-top: 15px; 
    } 
    
    .item1 { 
    margin-top: 20px; 
    } 
    .t-op-nextlvl { 
    font-size: 14px; 
    letter-spacing: 0px; 
    font-weight: 600; 
    } 
    
    .label-tag { 
    width: 100px; 
    text-align: center; 
    background-color: rgb(0, 177, 0); 
    color: white; 
    border-radius: 4px; 
    }
    .offcanvas-title{
      background: linear-gradient(to right, #c77d7d, #a81515, #3d0404);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 35px;
    }
    .confirm-para{
      color: #141414;
      font-size: 1.3em;
    }
    .btn.logout{
      background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(247,87,0,1) 0%, rgba(249,0,0,1) 90.1% );
      color: wheat;
     }
     .close-btn{
      background-image: linear-gradient( 117deg,  rgba(123,216,96,1) 39.2%, rgba(255,255,255,1) 156.2% );
      margin-left: 20px;
     }
     .searchbar{
      display: block;
     }
    .searchbar2{
      display: none;
    }

    .blankbox {
      position: relative;
      width:100%;
      height: 100vh;
      background-color: #6729da;
      overflow-x: hidden;
      transition: 0.5s;
      display: none; /* Add this line to initially hide the blankbox */
  }
  
  .blankbox.open {
      width: 250px;
      display: block; /* Add this line to make it visible when open */
  }
  

  ul { list-style: none; }
  a { text-decoration: none; color: black;}
  
  #menu-container{
    display: none;
  }
  #menu-wrapper {
      overflow-x: scroll;
      overflow-y: hidden;
      max-width: 100%;
      cursor: pointer;
  }
  
  
  #menu-wrapper #hamburger-menu {
      position: relative;
      width: 25px;
      height: 20px;
      margin: 15px;
  }
  
  #menu-wrapper #hamburger-menu span {
      opacity: 1;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 10px;
      color: black;
      background-color: rgb(14, 13, 13);
      position: absolute;
      transform: rotate(0deg);
      transition: .4s ease-in-out;
  }
  
  #menu-wrapper #hamburger-menu span:nth-child(1) {
      top: 0;
  }
  #menu-wrapper #hamburger-menu span:nth-child(2) {
      top: 9px;
  }
  #menu-wrapper #hamburger-menu span:nth-child(3) {
      top: 18px;
  }
  #menu-wrapper #hamburger-menu.open span:nth-child(1) {
      transform: translateY(9px) rotate(135deg);
  }
  #menu-wrapper #hamburger-menu.open span:nth-child(2) {
      opacity: 0;
      transform: translateX(-60px);
  }
  #menu-wrapper #hamburger-menu.open span:nth-child(3) {
      transform: translateY(-9px) rotate(-135deg);
  }
  
  #menu-container .menu-list .menu-submenu {
      padding-top: 20px;
      padding-bottom: 20px;
  }
  #menu-container .menu-list {
      padding-left: 0;
      display: block;
      position: absolute;
      width: 100%;
      max-width: 450px;
      background: white;
      box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
      z-index: 999;
      overflow-y: auto;
      overflow-x: hidden;
      left: -100%;
  }
  
  #menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
      font-size: 16px;
      padding: 20px;
      text-transform: uppercase;
      border-top: 1px solid #dbdcd2;
  }
  #menu-container .menu-list li:first-of-type {
      border-top: 0;
  }
  
  .accordion-toggle, .accordion-content {
      cursor: pointer;
      font-size: 16px;
      position: relative;
      letter-spacing: 1px;
  }
  
    .accordion-content {
      display: none;
  }
  
  .accordion-toggle a:before, .accordion-toggle a:after {
      content: '';
      display: block;
      position: absolute;
      top: 250%;
      right: 30px;
      width: 15px;
      height: 2px;
      margin-top: -1px;
      background-color: #5a5858;
      transform-origin: 50% 50%;
      transition: all 0.3s ease-out;
  }
  
  .accordion-toggle a:before {
      transform: rotate(-90deg);
      opacity: 1;
      z-index: 2;
  }
  
  .accordion-toggle.active-tab {
    background: yellowgreen;
    transition: all 0.3s ease;
  }
  .accordion-toggle a.active:before {
      transform: rotate(0deg);
      background: #fff !important;
  }
  
  .accordion-toggle a.active:after {
      transform: rotate(180deg);
      background: #fff !important;
      opacity: 0;
  }

  .rotate-icon {
    transition: transform 0.3s ease-in-out;
}

.rotate-icon.rotate {
    transform: rotate(-90deg);
}

.modal-title{
  padding-top: 1em;
  padding-left: 40%;
  text-transform: capitalize;
  color: #690c0c;
  font-family:fantasy;
}
.first-input{
  margin-left: 10px;
}
.modal-body{
  align-items: center;
  text-align: center;
}
label span{
  display: inline-block;
  font-size: 1.25rem;
  /* position: relative; */
  bottom: -1.2rem;
  transition: transform 200ms ease-in-out;
}
label{
  padding-left: 30px;
}

input {
  /* position: relative; */
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  background-color: transparent;
  outline: none;
  border: unset;
  border-bottom: 1.5px solid rgb(48, 1, 1);
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  color: rgb(73, 9, 9);
  z-index: 1;
}

/* button {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.75rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.25em;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: 500;
  transition: all 100ms ease-in-out;
  background-color: rgb(225,225,255);
}

button:hover {
  background-color: rgb(235,235,235);
}

a {
  color: rgb(235, 235, 235);
}

a:hover {
  color: rgb(215, 215, 215);
}

p {
  text-align: center;
} */

#Input-Focus:focus, #Input-Focus:valid {
  border-bottom: 2px solid rgb(44, 0, 0);
}

input:focus + label span, input:valid + label span {
  color: rgb(139, 28, 28);
  transform: translateY(-1rem);
}




    
@media (max-width:1056px){
  .searchbar2{
    display: block;
    /* margin-left: 50%; */
  }
  .searchbar{
    display: none;
  }
  
}
 @media (max-width:998px){
 .notification-icon,.profile-head{
    display: none !important;
  }
  div.box{
   margin-top: -50px;
   display: block;
  }
  #menu-container{
    display: block;
  }
  
  #box-content{
    margin-top: 10px;
  }
  .siderbar-section{
    display:block;
  }
  .siderbar-section{
    display: none;
  }
  .main-container{
    width: 100%;
  }
  .siderbar-section{
    overflow-x: scroll !important;
    overflow-y: scroll;
  }
 }  
